styles.css
 
:root{
    --font-family: 'Roboto', sans-serif;
    --normal-font:400;
    --bold-font:700;
    --bolder-font:900;
    --bg-color:#fcfcfc;
    --primary-color:#4756df;
    --secondary-color:#ff7235;
    --primary-shadow:#8b8eaf;
    --secondary-shadow:#a17a69;
    --bottom-margin:0.5rem;
    --bottom-margin-2:1rem;
    --line-height:1.7rem;
    --transition:0.3s;
}
*{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
a:hover{
    color: var(--secondary-color);
}
body{
    font-family: var(--font-family);
    
    background:#f4f8ff;

}
section{
    width: 1100px;
    margin:auto;
}
nav{
    position: sticky;
    top:0;
    left:0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    background:#ffffff;
    backdrop-filter:blur(10px);
}
nav h1{
    color:var(--primary-color);
}
nav a{
    color:var(--primary-color);
    transition: var(--transition);
    font-size: 18px;
}
nav a:hover{
    color:var(--secondary-color);
    border-bottom:2px solid var(--secondary-color);
}
nav ul{
    display: flex;
    gap:1.9rem;

}
nav ul li{
    font-weight: var(--bold-font);
}
.burger-menu{
    color:var(--primary-color);
    font-size: 2rem;
    border:0;
    background-color: transparent;
    cursor:pointer;
    display:none;

}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
    max-width: 68.75rem;
    margin: auto;
    min-height: 40vh;
    background:linear-gradient(135deg,#eef3ff,#d7e8ff);
    border-radius:20px;
    padding:40px;
    margin-top:30px;
}
.hero img{
    height: 37.5rem;
    width: 37.5rem;
    border-radius:50%;
    object-fit:cover;
    box-shadow:0 10px 25px rgba(0,0,0,.3);

}
.bio-animated{
    width:25rem;
    padding:1rem;
    border-radius:10px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
.bio-animated h1{
    margin-bottom: var(--bottom-margin);
}
.bio-animated p{
    line-height: var(--line-height);
    padding: 0.3rem 0;

}
.more-about{
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}
.more-about h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}
.more-about p{
    line-height: var(--line-height);
    padding: 0.4rem;
}
.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top:2.5rem;
    
}
.skill-header{
    margin-bottom:1rem;
}
.skills-wrapper img{
    padding: 1.25rem;

}
.icon{
    width: 11.875rem;
    height: 11.25rem;
}
.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}
.project-pic{
    width: 65%;
    height: 60%;
}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
}
.projects-title{
    text-align: center;
    margin-bottom: 1rem;
}
.project-container{
    width: 350px;
    background: white;
    border-radius: 15px;
    padding: 20px;
}
.project-container p{
    padding: 0.4rem;
}
.project-title{
    margin-bottom: var(--bottom-margin);
}
.project-details{
    margin-bottom: var(--bottom-margin);
}
.contact{
    margin-top: 2rem;
}
.contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}
.contact-form-container{
    margin: 0 auto;
    border-radius: 5px;
}
.contact-form-container label{
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}
.contact-form-container textarea{
    min-height: 6.25rem;
    font-size: 14px;
}
.contact-form-container .input-field{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:2px solid var(--primary-color);
    outline:none;
}
.input-field::placeholder{
    padding: 0.5rem;
    color: var(--primary-color);
    
}
.submit-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background:#4756df;
    color:white;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}
.submit-btn:hover{
    background:#ff7235;
    border: 2px solid var(--primary-color);
    cursor:pointer
}
.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right:1%;
    bottom: 50%;
}
.socicon{
    width:2rem;
    height:2rem;
}
.scroll-up{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
.up-arrow{
    width: 3rem;
    height: 3rem;

}

footer{
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}
.icon-card{
    background:#fff;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    padding:20px;
    margin:15px;
    transition:.3s;
}

.icon-card:hover{
    transform:translateY(-10px);
}
.project-card{
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin:10px;
}
.card{
    background:white;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}
h2{
    color:#4756df;
    margin-bottom:20px;
}
.contact-form{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
@media screen and (max-width:720px){
    nav{
        padding: 1.5rem 1rem;     
    }
    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left:10%;
        width:80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li{
        margin: 8px;
    }

    .burger-menu{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }
    .hero{
        flex-direction: column;
        gap: 0;
    }
    .hero img{
        height: 37.5rem;
        width: 30rem;
    }
    .bio{
        margin-top: -7rem;
        width: 20.5rem;
    }
    .more-about{
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }
    .more-about h2{
        text-align: center;
    }
    .more-about p{
        text-align: justify;
    }
    .icon{
        width: 5.875rem;
        height: 5.25rem;
    }
    .projects-container{
        flex-direction: column;
    }
    .project-container{
        width: 20.875rem;
    }
    .contact-form-container{
        max-width: 23.75rem;
    }
}
.project-pic{
    transition:.4s;
}

.project-pic:hover{
    transform:scale(1.05);
}



